#container{
  border-color: black;
}
.box{
  border-radius: 5px;
  margin-left: 527px;
  margin-top: 150px;
  border: 3px black;
    background-color: rgb(210, 189, 189);
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    /* align-items: baseline;
    justify-content: space-between; */
}
.inputdet{
  margin-left: 35px;
}
.modal{
margin-left: 9px;
}
li{
  list-style-type: none;
  margin-left: 683px;
  text-size-adjust: 50px;
}
nav{
  height: 50px;
  background-color: antiquewhite;
  display: flex;
  width: 100vw;
}
.button{
  background-color: rgb(69, 69, 131);
  color: white;
  border-radius: 5px;
  height: 28px;
  width: 86px;
 margin-left: 119px;
 margin-top: 34px;
}
#name{
  margin-left: 38px;
}
/* .drop-file-input.dragover{
  opacity: 0.6;
} */